
<app-spinneroverlay *ngIf="loading"></app-spinneroverlay>

<div class="form-container">

    <button mat-fab color="primary"
    (click)="startListening()"
    [disabled]="!speechSupported"
    class="mic-button"
    aria-label="Speak">
    <mat-icon>mic</mat-icon>
    </button>

    <mat-form-field appearance="fill" class="input-field">
        <mat-label>Enter search terms or speak</mat-label>
        <input matInput [(ngModel)]="searchTerm">
    </mat-form-field>

    <div *ngIf="!speechSupported" style="color: red; margin-top: 1rem;">
        Speech recognition is not supported in this browser.
    </div>

    <mat-form-field appearance="fill" class="input-field">
        <mat-label>Choose or type the search url</mat-label>
        <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="url" (input)="filterOptions()">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let option of filteredOptions" [value]="option.engineDescription">
            {{ option.engineDescription }}
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <button mat-flat-button color="primary" class="big-button" (click)="submitForm()">Submit</button>
    <mat-checkbox [(ngModel)]="usePlaywright">Try with Playwright minimal browser <small>*note - may need to solve captcha</small></mat-checkbox>

</div>

<div class="charting">
    <app-scatter-chart [chartData]="this.searchResults"></app-scatter-chart>
</div>
